

.body{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 33px;
line-height: 26px;
}

.container{
max-width: 1170px;
margin: 0 auto;
padding: 0 15px;
}

a{
text-decoration: none;
}


.header_background{
background-image: url(../images/background.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
}


.navigation_menu{
padding: 40px 0px;
}

.menu__list{
display: flex;
justify-content: center; 
}

.menu__list-item{
padding: 0px 50px;

}
.menu__list-link{
text-transform: uppercase;
font-size:18px;
line-height: 18px;
font-weight: bold;
color: #FF0000;
}

.main_subtitle,.main_title{
text-align: center;
}

.main_text{
margin-top: 28px;
}
.main_title{
margin: 48px 0 38px;
text-transform: uppercase;
}

.main_subtitle{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
padding-bottom: 28px;
}
.main_subtitle:nth-child(2){
padding: 0;
}

.btn_centr{
text-align: center;
margin-top: 65px;
}

.btn-red{
border-radius: 4px;
background-color: #FF0000;
width: 190px;
height: 51px;
cursor: pointer;
}   

.btn{
font-family: "Montserrat";
text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
}

.footer_copy{
margin: 82px 105px 29px 0;
text-align: right;
}

.footer_text{
font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #373737;

}